.aboutus-left{
    background-color: #01233B;
    color: white;
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    
}
.aboutus-left-heading{
    font-size: 25px;
    margin: auto;
}
.aboutus-left-ul{
    
    text-align: justify;
    font-size: medium;
    color: #071634;
    font-weight: 400;
}


.aboutus-right-image{
    width: 102%;
}
.about-us-title{
    margin-top: 150px;
}
.aboutus-left-ul li{
    font-size: 15px;
    margin-bottom: 10px;
}

@media(max-width:425px){
    .aboutus-left {
        width: 100%;
}
.about-us-title {
    margin-top: -20px;
}
}
