.contact-heading {
    margin-top: 120px;
    color: white;
    font-weight: 600;
    font-size: 35px;
}
.contact-top {
    background-color: rgb(200, 186, 159);
    width: 100%;
    height: 250px;
    margin-top: -80px;
}
.contact-top-right-image {
    width: 100%;
    margin-top: 109px;
}
.form-section{
    background-image: url('../../public/div.map.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 340px;
    background-color: #f4f5f8;
}
.add-location svg{
    background: #01233b;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}
.location-trace h3, .contact-hr{
    font-size: 25px;
}
.add-location p{
    margin-bottom: 0px;
    color: #000;
    font-size: 15px;
}
.location-trace p{
    color: #000;
    font-size: 15px;
}
.MuiButton-containedSizeMedium{
  background-color: #01233b 
  ;
}


@media(max-width:425px){
    .form-section{
        // margin-top: 100px !important;
       
    }
    .contact-heading{
        text-align: center;
    }
    .contact-top-right-image{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .contact-hr{
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px !important;
    }
}
