.contact-heading {
    margin-top: 120px;
    color: white;
    font-weight: 600;
    font-size: 35px;
}
.contact-top {
    background-color: rgb(200, 186, 159);
    width: 100%;
    height: 250px;
    margin-top: -80px;
}
.contact-top-right-image {
    width: 100%;
    margin-top: 109px;
}
.form-section{
    background-image: url('../../public/div.map.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 340px;
    background-color: #f4f5f8;
}
.add-location svg{
    background: #01233b;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}
.location-trace h3, .contact-hr{
    font-size: 25px;
}
.add-location p{
    margin-bottom: 0px;
    color: #000;
    font-size: 15px;
}
.location-trace p{
    color: #000;
    font-size: 15px;
}
.MuiButton-containedSizeMedium{
  background-color: #01233b 
  ;
}
@media(max-width:768px){
    .contact-top-right-image {
        width: 100%;
        margin-top: 0px;
    }
    .form-section{
        margin-top: 85px !important;
    }
    .form-section{
      height: auto;
    }
    .contact-hr{
        margin-top: 20px;
    }
    .control-sass{
        margin-top: 20px;
    }
}

@media(max-width:991px) and (min-width:768px){
    .form-section {
        margin-top: 390px !important;
    }
    .form-section{
        height: inherit;
    }
    .control-sass{
        margin-top: 20px;
    }
}

@media(max-width:768px) and (min-width:426px){
    .form-section {
        margin-top: 190px !important;
    }
}
