

.counter {
    background-color: #F1F7FD;
    height: 210px;
    padding: 20px;
   

  

    .counter-box {
      text-align: center;
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 10px;
      width: 150px;
    }
  
    .icon {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 2rem;
      color: #002366;
    }
  
    p {
      color: #555;
      margin: 0;
    }
  }
  