.journey-image{
    background-image: url('../../public/Section.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 215px ;
    color: #fff;
}
.journey-title h2{
    font-size: 23px;
}
.brand-lisyting li{
    list-style: none;
    margin-bottom: 10px;
}
.journey-title-image{
    position: absolute;
    top: -58px;
}
.journey-title-image img{
    width: 100%;
    height: 273px;
}
.book-button {
    font-size: 13px !important;
}