.input-group-text{
background: #F7B731;
border-radius: 0px;
}
.social-icons svg{
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px !important;
    font-size: 40px !important;
}
.footer-heading h4{
    font-size: 20px;
}
.footer-heading p{
    font-size: 14px;
    margin-top: 20px;
}
.glad-item{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    
}
.glad-item li{
    margin-bottom: 10px;
}
.icons-phone svg {
    font-size: 20px;
}
.listing-text li, .para-title p{
    font-size: 12px;
}
.bottom-footer{
    background-color: #171717;
}
.listing-text {
    list-style: none;
}

        //------------- media-query-start----------------
@media(max-width:767px) and (min-width:426px){
   .footer-heading h4{
    text-align: center;
   }
}


@media(max-width:425px){
    .footer-heading{
       margin-top: 20px;
    }
    .bottom-footer {
        display: none !important;
    }
}