.home-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar {
  position: absolute;
  top: 0;
  width: 90%;
  border-radius: 6px;
  // padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #ffff !important;
}

.content-overlay {
  position: relative;
  width: 100%;
  max-width: 1200px;
  // padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.content {
  max-width: 500px;
  background: aliceblue;
  opacity: .8;
  padding: 10px 10px;
  border-radius: 10px;
}
.content h1 {
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}

.content p {
  margin-bottom: 1.5rem;
  color: #000;
}

.book-button {
  padding: 0.75rem 1.5rem;
  background-color: #01233b;
  border: none;
  color: white;
  font-size: 17px !important;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}
.book-tickets{
    font-size: 17px;
    padding: 0.75rem 1.5rem;
    background-color: #01233b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
}

.form-container {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  color: black;
  max-width: 500px;
  margin-top: 115px;
}

.button-group {
  display: flex;
  margin-bottom: 1rem;
}

.tab {
  flex: 1;
  padding: 0.5rem;
  font-size: 0.9rem;
  background: #e2e8f0;
  border: none;
  cursor: pointer;
}

.tab.active {
  background: #01233b;
  color: white;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.booking-form input,
.booking-form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

.submit-button {
  padding: 0.75rem;
  background-color: #01233b;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
  margin: auto;
  width: 70%;
}

.form-container-text {
  font-size: 1.2rem;
  color: #155a8b;
  font-weight: 700;
}

.service-left-heading {
  color: #01233b;
  font-weight: 500;
}
.service-left-para {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.service-left-para p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.service-left-menu {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 11px;
  color: #848484;
  font-weight: 400;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-strenght{
  background-color: #ECF5FB;
  width: 100%;
  padding: 10px;
 }
  
 .our-strenght-img{
  width: 100%;
  margin-top: -55px;
 }
 .our-strenght-logo{
  width: 400px;
  height: 80px;
  object-fit: contain;
 }
 .our-strenght-heading{
  font-size: 20px;
  font-weight: bold;
  color: #01233B;
 }
 .our-strenght-right-content{
  display: flex;
  gap: 30px;
 }
  
 .our-strenght-right-content-count{
  color: #01233B;
  font-weight: 700;
  font-size: 19px;
 }
  .submit-button {
    padding: 0.75rem;
    background-color: #01233B;
    color: white;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
    margin: auto;
    width: 100%;
  }

  .form-container-text{
    font-size: 1.2rem;
    color: #155A8B;
    font-weight: 700;
  }


  .service-left-heading{
    color: #01233B;
    font-weight: 500;
    font-size: 2rem;
  }
  .service-left-para{
    color:  #444444;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .service-left-para p{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
  }

  .service-left-menu{
    background-color: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   font-size: 11px;
   color: #848484;
   font-weight: 400;
   padding: 8px;
   border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
  }

 
   .our-strenght-img{
    width: 100%;
    margin-top: -55px;
   }
   .our-strenght-logo{
    width: 400px;
    height: 80px;
    object-fit: contain;
   }
   .our-strenght-heading{
    font-size: 20px;
    font-weight: bold;
    color: #01233B;
   }
   .our-strenght-right-content{
    display: flex;
    gap: 30px;
    align-items: end;
   }
   .our-strenght-right-content-count{
    color: #01233B;
    font-weight: 700;
    font-size: 19px;
   }
   .our-strenght-right-content-head{
    color: #01233B;
    font-weight: 600;
    font-size: 16px;
   }
  
 
   .service-left-menu{
   font-size: 13px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 6px;
   margin: auto;
   width: 47%;
   height: 72px;
    padding-top: 28px;
   }
  
   .navbar-nav {
    gap: 14px;
   }
   .form-container p{
    margin-bottom: 0px;
   }
   .service-right img{
    width: 100%;
    height: auto;
   }
   .btn-outline-success{
    background-color: #01233B !important;
    color: #fff !important;
   }

  //  strength css
  .strenght-title{
    font-weight: 600;
    font-size: 2rem;
  }
  .our-strenght{
    background-color: #ECF5FB;
    width: 100%;
   
   }
   

  //  driver vs texi driver
  .driver-text{
    border: 5px solid #01233B;
    border-radius: 15px;
    padding: 10px;
    width: 470px;
  }
  .map-item{
    background-image: url('../../public/Object.png');
    background-repeat: no-repeat;
    height: 330px;
    width: 100%;
    background-position: center;
    background-size: contain;
  }
  .sep{
    border-right: 8px solid #01233d;
    height: 272px;
    width: 278px;
    top: 8px;
  }
  .driver-organizations{
    margin-top: 80px;
  }

  .dri-fix{
    margin-top: 85px;
  }
  .sketch-title {
    top:80px;
  }
 .sketch-title img{
    width: 90px;
  }
   
  // place-requirment
  .animation-heading img{
    width: 100%;
    height: auto;
  }

  .your-cls{
    color:#212529;
    font-size: 2rem;
  }
  .place-heading p{
    font-size: 15px;
  }
  .showbtn{
    color: #01233B;
  }
   
 .our-strenght-right-content-head{
  color: #01233B;
  font-weight: 600;
  font-size: 16px;
 }



 .service-left-menus{
 font-size: 13px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
 }

 .form-container p{
  margin-bottom: 0px;
 }
 .service-right img{
  width: 100%;
  height: auto;
 }
 .btn-outline-success{
  background-color: #01233B !important;
  color: #fff !important;
 }

//  place-requirements
.police-title{
  background-color: #f2f2f2;
  height: 185px;
}
.main-circle-icon{
  width: 90%;
}
.driver-mera{
  font-size: 35px;
}

// accordian

.accordian-map {
  background-image: url(/_next/static/media/Object.7c8fb55d.png);
  background-repeat: no-repeat;
  height: 330px;
  width: 100%;
  background-position: center;
  background-size: contain;
}
.MuiPaper-root {
  margin-top: 20px;
}
.frequently-title {
  font-size: 2rem;
  color: #000000;
}
.MuiAccordionSummary-content {
  font-size: 14px;
}

// step slider
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-titles-t {
   background-color: #01233B;
   height: 200px;
 
}
.swiper-titles-t{
  padding-top: 60px;
}
// .swiper-slide:hover{
//    background-color: #eaeaea;
//     color: #000 !important;
//     transition: all .4s ease;
//     transform: scale(1.1);
   
// }
.step-1{
  color: #fff;
}
.step-1 h3{
  font-size: 20px;
}
.step-1 p{
  font-size: 14px;
}
.driver-title {
  background-color: #ECF5FB;
}
.accordion-button{
  font-size: 15px !important;
  color: #000 !important;
}
.accordion-button:not(.collapsed){
  background-color: transparent !important;
}

.accordion-button:focus:not(:focus-visible) {
  box-shadow: none;
  border-bottom: 1px solid #dde2e6;
}

                                        //---------------- media-query  ----------------------

@media(max-width:1199px) and (min-width:991px){
.driver-title {
  display: none !important;
  padding:40px;
}
.hello-title{
  display: block !important;
}
}
                                        
@media(max-width:991px) and (min-width:769px){
  .content-overlay{
    flex-direction: column-reverse;
  }
  .content {
    text-align: center;
  }
  .police-title{
    margin-top: 20px;
  }
  .accordian-title {
    display: none;
  }
}

                                        


@media(max-width:768px){
.content-overlay {
  flex-direction: column-reverse;
  padding-bottom: 30px;
}
.content{
  margin-top: -15px;
}
.form-container{
  max-width: 384px;
  margin-top: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form-row input{
  width: 100%;
}
.btn-gone{
  width: 100% !important;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
.counter .counter-box {
  width: 100% !important;
  margin-top: 20px !important;
}
.counter {
  top: -15px !important;
}
.counter .icon svg {
  border: 3px solid #01233b;
  padding: 6px;
  border-radius: 100%;
  position: absolute;
  top: -18px;
  left: 145px !important;
}
.service-left-heading {
  margin-top: 20px;
  text-align: center;
} 
.service-left-menu{
  width: 90%;
}
.service-left-menu{
  margin-top: 10px;
}
.our-strenght-logo{
  display: none;
}
}

@media(max-width:768px){
  .content {
    text-align: center;
  }
  .flex-rm{
    flex-direction: column-reverse;
  }
  .our-strenght-heading h1{
    text-align: center;
  }
  .our-strenght-img {
    width: 100%;
    margin-top: 0px;
}
.driver-text {
  border: 2px solid #01233B;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
}
.your-cls {
  color: #000;
  font-size: 30px;
  text-align: center;
}
.place-title{
  margin-top: 0px;
}
.place-heading p {
  font-size: 15px;
  margin-top: 20px;
}
.work-apply h4{
  display: none;
}
.animation-heading {
  margin-top: 40px !important;
}
.police-title {
margin-top: 20px;

}
.main-circle-icon {
  width: 100%;
}
.image-little  p{
  font-size: 12px;
}
.main-circle-icon {
  margin-top: 0px !important;
}
.online-text span,h1{
  font-size: 30px !important;
  text-align: center ;
}
.accordian-title {
  display: none;
}
.our-strenght-right-content {
  display: flex;
  gap: 12px;
  align-items: baseline;
  justify-content: center;
  margin-top: 30px !important;
}
.our-strenght-right-content-head {
  font-size: 11px;
}
.our-strenght-right-content-count {
  color: #01233B;
  font-weight: 600;
  font-size: 25px;
}
.our-strenght-heading h1{
  font-size: 35px;
}
.submit-button{
  width: inherit;
  font-size: 10px;
  padding: 5px 5px;
}
.driver-title {
  background-color: #ECF5FB;
  padding-bottom: 20px;
  margin-top: 50px;
  padding-top: 20px;
}

}


// .accordion-button::after {
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
//   transition: all 0.5s;
// }
// .accordion-button:not(.collapsed)::after {
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
// }
// .accordion-button::after {
//   transition: all 0.5s;
// }

// mera-deriver
.driver-mera h3{
  font-size: 2rem;
}
.btn-gone{
  font-size: 1rem;
}
.image-little p{
  font-size: 15px;
}
.police-title {
  border-radius: 10px;
}