// .navbar {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     border-radius: 10px;
//     padding: 1rem 2rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     z-index: 1;
    
//   }
   //------------- media-query-start----------------


@media(max-width:1267px) and (min-width:1200px){
    .navbar{
        width: 100%;
     }
    }

@media(max-width:1199px) and (min-width:992px){

.nav-link, .btn-outline-success {
    font-size: 12px;
}
.navbar{
   width: 100%;
}
   }

