.online-car-drive{
    background-image: url('../../public/Sections.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 215px ;
    color: #fff;
}
.mobile-center{
    top: -143px;
}
.mobile-center img{
    width: 200px;
    height: auto;
}

.online-text h1{
    font-size: 2rem;
}
.htp{
    padding-top:65px;
}
.online-text span{
    font-size: 35px;
}


@media(max-width:768px){
    .htp {
        padding-top: 0px;
    }
    .online-car-drive{
        height: 170px;
    }
    .mobile-center img {
        width: 130px;
        height: auto;
    }
    .mobile-center {
        top: -25px;
        position: relative;
    }
    .online-text span, h1{
        font-size: 25px !important;
    }
}




   @media(max-width:1199px) and (min-width:991px){
    .mobile-center img {
        width: 150px;
        height: auto;
    }
    .mobile-center {
        top: -70px;
    }
    .brand-lisyting li {
        list-style: none;
        margin-bottom: 5px;
        font-size: 14px;
    }
    }

@media(max-width:991px) and (min-width:768px){
   .mobile-center {
    top: -75px;
    right: 0px;
}
   }

@media(max-width:767px) and (min-width:426px){
.mobile-center {
    top: -65px;
    position: relative;
    left: 65px;
}
   }