.online-car-drive{
    background-image: url('../../public/Sections.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 215px ;
    color: #fff;
}
.mobile-center{
    top: -143px;
}
.mobile-center img{
    width: 200px;
    height: auto;
}

.online-text h1{
    font-size: 35px;
}
.htp{
    padding-top:65px;
}
.online-text span{
    font-size: 35px;
}
