.form-container{
    margin-top: -40px;
    max-width: 100%;
    background: none;
    padding: 10px;
}

                                              // media-query-start
@media(max-width: 991px){
    .login-left {
        padding-top: 0px !important;
    }
    form{
        margin-top: 40px;
    }
}