.swiper-title{
  background-image: url('../../public/slder.png');
    width: 100%;
    background-repeat: no-repeat !important;
    position: relative !important;
    background-size: cover !important;
    height: 400px;
    margin-top: 80px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}
.icons{
  color: red;
}
.heading-title h1{
  color: #000;
  font-size: 35px;
}
.slider-slide p{
  font-size: 16px;
  text-align: start;
}

    //------------- media-query-start----------------

  
@media(max-width:991px)and (min-width:768px){

    .slider-slide p {
      font-size: 13px;
      text-align: left;
  }
  .slider-slide img {
    width: 125px;
    height: 125px;
}
}
@media(max-width:768px){
  .swiper-title {
    margin-top: 50px;
  }
//   .slider-slide p {
//     font-size: 11px;
//     text-align: start;
// }
// .slider-slide img{
//   width: 125px;
//   height: 125px;
// }
}


@media(max-width:767px)and (min-width:426px){
  .slider-slide p {
    font-size: 11px;
    text-align: start;
}
}

